<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <appSettings>
    <add key="DanskeSpil" value="http://www.danskespil.dk" />
    <!--<add key="EnumSample" value="http://www.bt.dk" />-->
  </appSettings>

  <specFlow>
    <unitTestProvider name="MsTest" />
  </specFlow>
</configuration>